<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekfej.dictatore" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/images"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Language_ChooseActivity"
            android:label="Nyelv választás" >
        </activity>
        <activity
            android:name=".Word_InsertActivity"
            android:label="@string/title_activity_word_insert"
            android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
            android:name=".Language_InsertActivity"
            android:label="Nyelv beállítások"
            android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
            android:name=".KnowledgeTestActivity"
            android:label="Tudásteszt">
        </activity>
        <activity
            android:name=".DictActivity"
            android:label="Szótár">
        </activity>
    </application>

</manifest>
